/* Write your CSS here */
.list-items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: transparent;
  border: 2px;
  border-color: #cbd5e1;
  border-style: solid;
  height: 35px;
  width: 400px;
  justify-content: center;
  align-items: center;
}
.image {
  height: 27px;
  width: 30px;
}
.item {
  font-family: 'Roboto';
  color: #475569;
  font-weight: bold;
  font-size: 20px;
}
